@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&display=swap');
@import "mystyles.scss";

.App {
  text-align: center;
  background-image: url('./moutains.jpg'); 
  background-repeat: no-repeat;
  background-position: 70% 45%;
  background-size: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.accent {
  color:$yellow;
}

.portfolio-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Fira Code', monospace;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.about-me {
  display: flex;
  width: 25%;
  flex-direction: column;
  padding: 60px;
  margin: 20px;
}

.details {
  width: 66%;
  background-color: white;
  margin-top: 50px;
  height: 90vh;
  border-radius: 9px;
  overflow: auto;
}

#pic {
  background-image: url('./me.jpg');
  border: white solid .5em;
  width: 150px;
  height: 150px;
  border-radius: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#description {
  width: 90%;
  height: 60%;
  margin-top: 20px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #FFFFFF;

}
.nav-bar{
  height: 8vh;
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  // border-bottom: silver solid thin;

}
.nav-item {
  flex:1;
  padding-top: 1.3em;
  cursor: pointer;
}

.sections {
  scroll-margin-top: 5rem;
  height: 79vh;
  margin:20px;
  // border:solid thin red;
}

.active {
  color: red;
  animation-name: makeActive;
  animation-duration: 2s;
}


.hidden {
  animation-name: makeInactive;
  animation-duration: .6s;
  color: white;

}

@keyframes makeActive {
  from {color: white;}
  to {color: red;}
}


@keyframes makeInactive {
  from {color: red;}
  to {color: white;}
}
